.profile_container {
  display: flex;
  flex-flow: column;
  align-items: center;

  margin-top: 2rem;
}

.profile_image > img {
  border-radius: 50%;
  border: 3px solid #023aa7;
}

.name {
  margin-top: 1rem;
}

.name > h2 {
  font-size: 2rem;
}

@media screen and (min-width: 700px) {
  .profile_container {
    align-items: inherit;
  }
}
