.about_container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .about_container {
    flex-flow: row;
    justify-content: space-between;

    gap: 2rem;
  }

  app-briefing {
    max-width: 600px;
    width: 60%;
  }
}
