.briefing_container {
  display: flex;
  flex-flow: column;
  background-color: rgba(0, 0, 255, 0.055);
  border-radius: 1.5rem;
  padding: 1rem;
  margin-top: 1rem;
}

.briefing_container > h2 {
  margin: 0.5rem;
  font-size: 1.7rem;
}

.briefing_container > h3 {
  margin-top: 0.5rem;
}

.briefing_container > ul {
  margin-top: 0.25rem;
  list-style: none;
}

.briefing_container > ul > li {
  font-weight: bold;
  font-style: italic;
  margin-top: 0.25rem;
}
