<div class="presentation_container">
  <div class="presentation_left-section">
    <h1>Hello, I'm &#123;Filipe&#125;. A FullStack Developer</h1>
    <div class="buttons">
      <a href=""
        ><button class="linkedin"><span></span>Linkedin</button></a
      >
      <a href=""
        ><button class="github"><span></span>GitHub</button></a
      >
    </div>
  </div>

  <div class="presentation_right-section">
    <img src="/assets/img/1ee9786c-7a4c-4a4c-a451-b9f5cf3c294f.webp" alt="" />
  </div>
</div>
